<div class="row">
  <div class="col">
    <h1>Capacidad del software</h1>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <%= render 'shared/capacidad_de_procesamiento_de_transacciones' %>
    <h3>Código</h3>
    <hr />
    <img src="/metrics/capacidad_de_procesamiento_de_transacciones.png" width="400" />

    <h3>Anotaciones</h3>
    <hr />
    <p>Para obtener los resultados para la métrica de <strong>capacidad de procesamiento de transacciones</strong> se tuvo que usar la libreria <code>Benchmark</code> para medir el tiempo que tarda una transacción al ORM, el tiempo medido es en milisegundos.</p>
    <p>La transacción realizada con el ORM de Active Record fue crear 20 estudiantes, luego se crea un profesor para despues crear una clase que se asigna a los estudiantes y el profesor. Se repite el proceso con <%= @time.length %> observaciones. Se usó la librería de Faker para crear los datos.</p>
    <p>Se puede ver que el Active Record logra terminar todas las tareas encoladas y dependera de la capacidad del computador para realizarlas</p>
    <h3>Resultados</h3>
    <hr />
    <div class="row">
      <div class="col-xs-6">
        <h4>Peticiones por segundo</h4>
        <table class="table">
          <tr>
            <th>#</th>
            <th>Peticiones</th>
          </tr>
          <% @time.each_with_index do |t, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= t %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="col-xs-6">
        <h4>Capacidad</h4>
        <p><strong>Cantidad de peticiones con éxito: </strong><%= @time.length %></p>
        <p><strong>Cantidad de peticiones realizadas: </strong><%= @time.length %></p>
        <p><strong>X = </strong><%= @xResult %></p>
        <hr />
        <h4>Tiempo de respuesta</h4>
        <p><strong>Promedio: </strong><%= @mean %> ms</p>
        <p><strong>Desviación estandar: </strong><%= @standard_deviation %> ms</p>
        <p><strong>Error: </strong><%= @error %> ms</p>
      </div>
    </div>
  </div>
</div>