<hr />
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid mt-4">
        <div class="container">
          <h1>Ruby On Rails ORM Test</h1>
          <p class="lead">Pruebas realizadas bajos las metricas de la <strong>ISO/IEC 25023</strong></p>
          <p>Ruby On Rails version: <strong><%= Rails::VERSION::STRING %></strong> </p>
          <p>Ruby version: <strong><%= RUBY_VERSION %></strong></p>
          <small>OS: <strong><%= @os %></strong></small>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>Comportamiento temporal</h1>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <%= render 'shared/tiempo_medio_de_respuesta' %>
      <a href="/metrics/tiempo_medio_de_respuesta" class="btn btn-primary" role="button">Ejecutar Prueba</a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <%= render 'shared/rendimiento_medio' %>
      <a href="/metrics/rendimiento_medio" class="btn btn-primary" role="button">Ejecutar Prueba</a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <h1>Utilización de recursos</h1>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <%= render 'shared/cantidad_media_de_memoria_utilizada' %>
      <a href="/metrics/cantidad_media_de_memoria_utilizada" class="btn btn-primary" role="button">Ejecutar Prueba</a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <%= render 'shared/utilizacion_media_del_procesador' %>
      <a href="/metrics/utilizacion_media_del_procesador" class="btn btn-primary" role="button">Ejecutar Prueba</a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <h1>Capacidad del software</h1>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <%= render 'shared/capacidad_de_procesamiento_de_transacciones' %>
      <a href="/metrics/capacidad_de_procesamiento_de_transacciones" class="btn btn-primary" role="button">Ejecutar Prueba</a>
    </div>
  </div>
</div>