<div class="row">
  <div class="col">
    <h1>Comportamiento temporal</h1>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <%= render 'shared/rendimiento_medio' %>
    <h3>Código</h3>
    <hr />
    <img src="/metrics/rendimiento_medio.png" width="400" />

    <h3>Anotaciones</h3>
    <hr />
    <p>Para obtener los resultados para la métrica de <strong>rendimiento medio</strong> se tuvo que usar la libreria <code>Time</code> para realizar la mayor cantidad de peticiones a una unidad de tiempo, en este caso el tiempo es de 100ms.</p>
    <p>La peticion realizada con el Active Record fue traer un estudiante de la base de datos a traves de su ID <code>Student.Find(i);</code> Se repite el proceso todas las veces necesarias hasta culminar el tiempo, cada ves se busca un estudiante diferente.</p>
    <h3>Resultados</h3>
    <hr />
    <div class="row">
      <div class="col-xs-6">
        <h4>Peticiones por cada 100 ms</h4>
        <table class="table">
          <tr>
            <th>#</th>
            <th>Peticiones</th>
          </tr>
          <% @request.each_with_index do |t, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= t %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="col-xs-6">
        <h4>Rendimiento medio</h4>
        <h5><strong>X = </strong><%= @xresult %></h5>
        <p><strong>Unidad de tiempo: </strong>100 ms</p>
        <p><strong>Promedio: </strong><%= @mean %> peticiones</p>
        <p><strong>Cantidad de observaciones: </strong><%= @request.length %></p>
        <p><strong>Promedio: </strong><%= @mean %> peticiones</p>
        <p><strong>Desviación estandar: </strong><%= @standard_deviation %> peticiones</p>
        <p><strong>Error: </strong><%= @error %> peticiones</p>
      </div>
    </div>

  </div>
</div>