<div class="row">
  <div class="col">
    <h1>Comportamiento temporal</h1>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <%= render 'shared/tiempo_medio_de_respuesta' %>
    <h3>Código</h3>
    <hr />
    <img src="/images/metrics/tiempo_medio_de_respuesta.png" width="400" />

    <h3>Anotaciones</h3>
    <hr />
    <p>Para obtener los resultados para la métrica de <strong>tiempo de respuesta</strong> se tuvo que usar la libreria <code>Benchmark</code> para medir el tiempo que tarda una peticion simple al ORM, el tiempo medido es en milisegundos.</p>
    <p>La peticion simple realizada con el Active Record fue traer un estudiante de la base de datos a traves de su ID <code>Student.Find(i);</code> Se repite el proceso <%= @time.length %> veces con <%= @time.length %> estudiantes diferentes.</p>
    <h3>Resultados</h3>
    <hr />
    <div class="row">
      <div class="col-xs-6">
        <h4>Tiempo (ms)</h4>
        <table class="table">
          <tr>
            <th>#</th>
            <th>Miliseconds</th>
          </tr>
          <% @time.each_with_index do |t, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= t %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="col-xs-6">
        <h4>Tiempo de respuesta</h4>
        <h5><strong>X = </strong><%= @xresult %></h5>
        <p><strong>Cantidad de pruebas: </strong><%= @time.length %></p>
        <p><strong>Promedio: </strong><%= @mean %> ms</p>
        <p><strong>Desviación estandar: </strong><%= @standard_deviation %> ms</p>
        <p><strong>Error: </strong><%= @error %> ms</p>
      </div>
    </div>

  </div>
</div>