<div class="row">
  <div class="col">
    <h1>Utilización media del procesador</h1>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <%= render 'shared/utilizacion_media_del_procesador' %>
    <h3>Código</h3>
    <hr />
    <img src="/metrics/utilizacion_media_del_procesador.png" width="400" />

    <h3>Anotaciones</h3>
    <hr />
    <p>Para obtener los resultados para la métrica de <strong>Utilizacion media del procesador</strong> se tuvo que usar la libreria <code>Benchmark</code> para medir el tiempo que tarda una peticion al ORM, el tiempo medido es en milisegundos.</p>
    <p>La petición realizada con el Active Record fue traer un estudiante, un profesor y una clase de la base de datos a traves de su ID. Se media el tiempo por cada peticion al ORM y se sumaban por lo cual es el tiempo de procesador, luego se tomaba el tiempo que toma ejecutar todo y seria el tiempo de operacion.</p>
    <p>Se puede observar la cantidad de tiempo de procesamiento que toma la petición del Active Record, asi como el tiempo de operacion el cual siempre es mayor que el de procesamiento.</p>
    <h3>Resultados</h3>
    <hr />
    <div class="row">
      <div class="col-xs-6">
        <h4>Tiempo (ms)</h4>

        <table class="table">
          <tr>
            <th>#</th>
            <th>Tiempo de operacion</th>
            <th>Tiempo de procesador</th>
          </tr>
          <% @time.each_with_index do |t, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= t %></td>
              <td><%= @timeProccesor[i] %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="col-xs-6">
        <h4>Utilización de media del procesador</h4>
        <p><strong>Cantidad de llamadas totales: </strong>100</p>
        <p><strong>X = </strong> <%= @xResult %></p>
        <hr />
        <h4>Tiempo de operacion (ms)</h4>
        <p><strong>Promedio: </strong><%= @msMean %> ms</p>
        <p><strong>Desviación estandar: </strong><%= @msDesvest %> ms</p>
        <p><strong>Error: </strong><%= @msError %> ms</p>
        <hr />
        <h4>Tiempo de procesador (ms)</h4>
        <p><strong>Promedio: </strong><%= @ms2Mean %> ms</p>
        <p><strong>Desviación estandar: </strong><%= @ms2Desvest %> ms</p>
        <p><strong>Error: </strong><%= @ms2Error %> ms</p>
        <hr />
      </div>
    </div>
  </div>
</div>