<!DOCTYPE html>
<html>
  <head>
    <title>Ruby On Rails ORM Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>

  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Ruby On Rails ORM Test</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Métricas</a></li>
          <li><a href="/home/Acerca">Acerca</a></li>
          <li><a href="/home/Contacto">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container body-content">
    <%= yield %>
    <hr />
    <footer>
      <p>&copy; 2019 - RoR ORM Test</p>
    </footer>
  </div>
  </body>
</html>
